<div class="issues">
    <% issues.forEach(issue=> { %>
        <div class="issue">
            <h3 class="issue-title severity<%= issue.severity %>">
                <a href="/issues/<%= issue._id %>">
                    <%= issue.title %>
                </a>
            </h3>
            <p class="issue-department">
                <%= issue.department %> | Open: <%= issue.open %>
            </p>
            <p class="issue-date">
                <%= issue.date.toString().substring(0, 21) %>
            </p>
            <p class="issue-content">
                <%= issue.content %>
            </p>
        </div>
        <% }) %>
</div>