<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Dashboard</title>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


  <!-- Custom styles for this template -->
  <link href="/css/dashboard.css" type="text/css" rel="stylesheet">
</head>

<body>

  <%- include("./partials/header") %>
<!-- sidebar links -->
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/dashboard">
                  Dashboard
                </a>
              </li>
              <% if(user.role=="admin" || user.role=="manager" ) { %>
                <li class="nav-item">
                  <a class="nav-link" href="/users">
                    Users
                  </a>
                </li>
                <% } %>
                  <% if(user.role=="admin" || user.role=="manager" || user.role=="developer" ) { %>
                    <li class="nav-item">
                      <a class="nav-link" href="/departments">
                        Departments
                      </a>
                    </li>
                    <% } %>
                      <% if(user.role=="admin" || user.role=="manager" || user.role=="developer" ) { %>
                        <li class="nav-item">
                          <a class="nav-link" href="/issues">
                            Issues
                          </a>
                        </li>
                        <% } %>
                          <li class="nav-item">
                            <a class="nav-link" href="/create">
                              Create an Issue
                            </a>
                          </li>
            </ul>

            <%- include("./partials/logged-in") %>
          </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

            <h1 class="h2">Dashboard</h1>

            <div class="btn-toolbar mb-2 mb-md-0">
              <form action="/dashboard" method="post">
                <label for="sort">Sort issues by:</label>
                <button class="btn btn-dark btn-sm" name="sortby" type="submit" value="new">new</button>
                <button class="btn btn-dark btn-sm" name="sortby" type="submit" value="priority">priority</button>
                <button class="btn btn-dark btn-sm" name="sortby" type="submit" value="unassigned">unassigned</button>


              </form>
            </div>

          </div>


          <div class="issue-columns">

            <!-- this included view shows on the left side-->
            <%- include("./partials/view-issues") %>

              <!-- this is modified from the view-issues to show the assigned to -->
              <div class="issues">
                <% assigned.forEach(issue=> { %> <!-- the "assigned" on this line is the modification -->
                  <div class="issue issue-open-<%= issue.open %> severity<%= issue.severity %>">
                    <h3 class="issue-title ">
                      <a href="/issues/<%= issue._id %>">
                        <%= issue.title %>
                      </a>
                    </h3>
                    <div class="d-flex justify-content-between">

                      <p class="issue-date">
                        <%= issue.date.toString().substring(0, 21) %>

                          <p class="issue-bold">Priority:<% if (issue.severity==0) { %> non-issue
                              <% } if (issue.severity==1) { %> low
                                <% } if (issue.severity==2) { %> medium
                                  <% } if (issue.severity==3) { %> critical <% } %>
                          </p>

                    </div>

                    <div class="d-flex justify-content-between">
                      <p class="issue-bold">
                        <%= issue.department %>
                      </p>
                      <p class="issue-bold">Status: <% if (issue.open) { %> Open <% } else { %> Closed <% } %>
                      </p>
                    </div>

                    <% if(!issue.assigned && (user.role=="admin" || user.role=="manager" )) { %>
                      <form action="/issues/<%= issue._id %>/assign" method="post">
                        <div class="d-flex justify-content-between">
                          <select class="form-select" name="assign" id="assign">
                            <% user.team.forEach(member=> { %>
                              <option value="<%= member %>">
                                <%= member %>
                              </option>
                              <% }) %>
                          </select>
                          <button class="btn btn-dark btn-sm" type="submit">Assign</button>
                        </div>
                      </form>
                      <% } else { %>
                        <p>Assigned to: <%= issue.assigned %>
                        </p>
                        <% } %>

                          <hr>
                          <p class="issue-content">
                            <%= issue.content %>
                          </p>


                  </div>

                  <% }) %>

              </div>


          </div>
      </div>




      </main>
      <%- include("./partials/footer") %>
    </div>
    </div>

</body>

</html>