<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Profile:
        <%= foundUser.name %>
    </title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" type="text/css" rel="stylesheet">
</head>

<body>

    <%- include("./partials/header") %>

     <!-- sidebar links -->
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/dashboard">
                                    Dashboard
                                </a>
                            </li>
                            <% if(user.role=="admin" || user.role=="manager" ) { %>
                                <li class="nav-item">
                                    <a class="nav-link " href="/users">
                                        Users
                                    </a>
                                <li class="nav-item">
                                    <a class="nav-link active found-user" href="/users/<%= foundUser._id %>">
                                        User: <%= foundUser.name %>
                                    </a>

                                </li>
                                </li>

                                <% } %>
                                    <% if(user.role=="admin" || user.role=="manager" || user.role=="developer" ) { %>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/departments">
                                                Departments
                                            </a>
                                        </li>
                                        <% } %>
                                            <% if(user.role=="admin" || user.role=="manager" || user.role=="developer" )
                                                { %>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/issues">
                                                        Issues
                                                    </a>
                                                </li>
                                                <% } %>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/create">
                                                            Create an Issue
                                                        </a>
                                                    </li>
                        </ul>

                        <%- include("./partials/logged-in") %>
                    </div>
                </nav>

                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div
                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">User</h1>

                        <div class="btn-toolbar mb-2 mb-md-0">
                        </div>
                    </div>

                    <div class="d-flex">


                        <div class="user">
                            Name:
                            <div class="user-props px-2">

                                <h4 class="user-name">
                                    <%= foundUser.name %>
                                </h4>
                            </div>
                            Email:
                            <div class="user-props px-2">
                                <h4 class="user-email">
                                    <%= foundUser.email %>
                                </h4>
                            </div>
                            Role:
                            <div class="user-props px-2">
                                <h4 class="user-role">
                                    <%= foundUser.role %>
                                </h4>
                                <% if(user.role=="admin" ) { %>
                                    <form action="/users/<%= foundUser._id %>/role" method="post">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <select class="form-select" name="role" id="role">
                                                <option value="client">Client</option>
                                                <option value="developer">Developer</option>
                                                <option value="manager">Manager</option>
                                                <option value="admin">Admin</option>
                                            </select>
                                            <button class="btn d-block btn-dark mx-3" type="submit">Change</button>
                                        </div>
                                    </form>
                                    <% } %>
                            </div>
                            Departments:
                            <div class="user-props">

                                <form action="/users/<%= foundUser._id %>/remove-department" method="post">

                                    <% foundUser.department.forEach(department=> { %>
                                        <p class="d-flex justify-content-between align-items-center p-2">
                                            <strong>
                                                <%= department %>
                                            </strong>
                                            <% if (user.role==="admin" ) { %>
                                                <button class="btn btn-outline-danger btn-sm" type="submit"
                                                    name="department" value="<%= department%>">x</button>
                                                <% } %>
                                                    </li>
                                                    <% }) %>

                                </form>

                                <% if(user.role==="admin" || user.role==="manager" ){ %>
                                    <form action="/users/<%= foundUser._id %>/add-department" method="post">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <select class="form-select" name="department" id="department">
                                                <% departments.forEach(dep=> { %>
                                                    <option value="<%= dep %>">
                                                        <%= dep %>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                            <button class="btn btn-dark d-block mx-3" type="submit">Add</button>
                                        </div>
                                    </form>
                                    <% } %>



                                        <% if( user.teams==="ready" ) { %>

                                            <form action="/users/<%= foundUser._id %>/add-team" method="post">
                                                <div class="d-flex mb-3 justify-content-between">
                                                    <select class="form-select" name="team" id="team">
                                                        <% user.teams.forEach(team=> { %>
                                                            <option value="<%= team %>">
                                                                <%= team %>
                                                            </option>
                                                            <% }) %>
                                                    </select>
                                                    <button class="btn btn-dark d-block mx-3" type="submit">Add</button>
                                                </div>
                                            </form>
                                            <% } %>
                            </div>
                            <% if(!user.team.includes(foundUser.email)) { %>
                                Add to my team:
                                <div class="add-to-my-team user-props ">
                                    <form action="/users/<%= foundUser._id %>/toggle-team" method="post">
                                        <button class="btn btn-dark" type="submit" name="toggle" value="add">Add to my
                                            team</button>
                                    </form>
                                </div>
                                <% } else { %>
                                    User is in my team:
                                    <div class="add-to-my-team user-props ">
                                        <form action="/users/<%= foundUser._id %>/toggle-team" method="post">
                                            <button class="btn btn-dark" type="submit" name="toggle"
                                                value="remove">Remove from my team</button>
                                        </form>
                                    </div>
                                    <% } %>
                        </div>



                        <%- include("./partials/view-issues") %>
                    </div>

                </main>
                <%- include("./partials/footer") %>
            </div>
        </div>


</body>

</html>