<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Users</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" type="text/css" rel="stylesheet">
</head>

<body>

    <%- include("./partials/header") %>

        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="position-sticky pt-3 sidebar-sticky sidebar-custom">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/dashboard">
                                    Dashboard
                                </a>
                            </li>
                            <% if(user.role=="admin" || user.role =="manager" ) { %>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/users">
                                        Users
                                    </a>
                                </li>
                                <% } %>
                                    <% if(user.role=="admin" || user.role=="manager" || user.role=="developer" ) { %>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/departments">
                                                Departments
                                            </a>
                                        </li>
                                        <% } %>
                                            <% if(user.role=="admin" || user.role=="manager" || user.role=="developer" )
                                                { %>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/issues">
                                                        Issues
                                                    </a>
                                                </li>
                                                <% } %>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/create">
                                                            Create an Issue
                                                        </a>
                                                    </li>
                        </ul>

                        <%- include("./partials/logged-in") %>
                    </div>
                </nav>

                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div
                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Users</h1>

                        <div class="btn-toolbar mb-2 mb-md-0">
                        </div>
                    </div>
                    <div class="d-flex">


                        <div class="issues">
                            <% users.forEach(user=> { %>
                                <div class="issue">
                                    <p class="user-name">
                                        Name: <a href="/users/<%= user._id %>">
                                            <%= user.name %>
                                        </a> | Role: <%= user.role %>
                                    </p>
                                    <p class="user-email">
                                        Email: <%= user.email %>
                                    </p>

                                    <p class="user-department">Departments:
                                        <% user.department.forEach(department=> { %>
                                            <%= department %>
                                                <% }) %>
                                    </p>
                                </div>
                                <% }) %>
                        </div>
                        <% if (user.role=="admin" ) { %>
                            <div class="create-user w-400">
                                <h2>Create User</h2>

                                <form action="/users/create" method="post">
                                    <div class="center-form">
                                        <label for="name">Name:</label>
                                        <input class="form-control w-300" type="text" name="name" id="name">
                                        <label for="email">Email:</label>
                                        <input class="form-control w-300" type="email" name="email" id="email">
                                        <label for="password">Password:</label>
                                        <input class="form-control w-300" type="password" name="password" id="password">
                                        <label for="role">Role:</label>
                                        <select class="form-select w-300" name="role" id="role">
                                            <option value="client">client</option>
                                            <option value="developer">developer</option>
                                            <option value="manager">manager</option>
                                            <option value="admin">admin</option>
                                        </select>
                                        <label for="teams">Team</label>
                                        <select class="form-select w-300" name="teams" id="teams">
                                            <% user.teams.forEach(team=> { %>
                                                <option value="<%= team %>">
                                                    <%= team %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <label for="department">Department</label>
                                        <select class="form-select w-300 mb-3" name="department" id="department">
                                            <% user.department.forEach(dep=> { %>
                                                <option value="<%= dep %>">
                                                    <%= dep %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <button class="btn btn-dark" type="submit">Create User</button>
                                    </div>
                                </form>
                            </div>
                            <% } %>
                    </div>

                </main>
            </div>
        </div>


</body>

</html>